PORT=3000
MONGODB_URI=mongodb+srv://admin:admin@cluster0.idv46rg.mongodb.net/?appName=Cluster0
JWT_SECRET=123456
GMAIL_USER=tpfinaltup@gmail.com
GMAIL_PASS=rkuo psmn nfpd kzxa
FRONTEND_URL=http://localhost:5173


// solo cambiar la url de mongodb